---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Privacy policy">
  <main class="container mx-auto space-y-4">
    <h1 class="text-2xl font-bold">PRIVACY POLICY</h1>
    <p>
      In accordance with Regulation (EU) 2016/679 of the European Parliament and
      of the Council of 27 April 2016 on the protection of natural persons with
      regard to the processing of personal data and on the free movement of such
      data (General Data Protection Regulation - GDPR), Cristian Adán informs
      users of the <strong>SIMON</strong>
      application (hereinafter, the Application) about the processing of personal
      data voluntarily provided during the registration, access, and use of the service.
    </p>
    <p>
      1. DATA CONTROLLER IDENTIFICATION. Cristian Adán is the entity responsible
      for processing the data provided by the Application clients (hereinafter,
      the User(s)).
    </p>
    <p>
      2. PURPOSE OF DATA PROCESSING. To register, access, and subsequently use
      the Application, the User must voluntarily provide personal data
      (essentially, identification and contact information), which will be
      incorporated into automated media owned by Cristian Adán. The collection,
      storage, modification, structuring, and, if necessary, deletion of the
      data provided by the Users will constitute processing operations carried
      out by the Controller, for the purpose of ensuring the proper functioning
      of the Application, maintaining the service provision and/or commercial
      relationship with the User, and for the management, administration,
      information, provision, and improvement of the service. Personal data
      provided by the User, especially the email or e-mail, may also be used to
      send newsletters, as well as commercial communications for promotions
      and/or advertising of the Application, provided that the User has
      previously given express consent to receive such communications
      electronically.
    </p>
    <p>
      3. LEGITIMATION. The processing of User data is carried out with the
      following legal bases that legitimize it:
      <ul>
        <li>
          The request for information and/or the hiring of the services of the
          Application, whose terms and conditions will be made available to the
          User in any case, prior to its express acceptance.
        </li>
        <li>
          The free, specific, informed, and unambiguous consent of the User,
          making available this privacy policy, which must be accepted through a
          declaration or a clear affirmative action, such as marking a box
          provided for this purpose. If the User does not provide their data, or
          does so incorrectly or incompletely, it will not be possible to use
          the Application.
        </li>
      </ul>
    </p>
    <p>
      4. RETENTION OF PERSONAL DATA. The personal data provided by the User will
      be kept in the systems and databases of the Data Controller as long as the
      User continues to use the Application and provided that the User does not
      request their deletion. In order to clarify any responsibilities derived
      from the processing, the data will be kept for a minimum period of five
      years.
    </p>
    <p>
      RECIPIENTS. The data will not be communicated to any third parties
      outside, except for legal obligation or in any case, upon request of the
      User's consent. On the other hand, Cristian Adán may provide access to or
      transmit personal data provided by the User to third-party service
      providers with whom they have entered into data processing agreements and
      who only access such information to provide a service on behalf and for
      the account of the Controller.
    </p>
    <p>
      DATA RETENTION. Cristian Adán informs the User that, as a data hosting
      service provider and in accordance with the provisions of Law 34/2002 of
      11 July on Information Society Services and Electronic Commerce (LSSI), it
      retains for a maximum period of 12 months the information necessary to
      identify the origin of the hosted data and the time when the service
      provision began. The retention of this data does not affect the
      confidentiality of communications and may only be used in the context of a
      criminal investigation or for the protection of public safety, being made
      available to judges and/or courts or the Ministry that requires them. The
      communication of data to the State Security Forces and Bodies will be made
      in accordance with the regulations on the protection of personal data and
      with the utmost respect for it.
    </p>
    <p>
      PROTECTION OF HOSTED INFORMATION. The Controller of the Processing adopts
      the necessary measures to ensure the security, integrity, and
      confidentiality of data in accordance with the provisions of Regulation
      (EU) 2016/679 of the European Parliament and of the Council of 27 April
      2016 on the protection of natural persons with regard to the processing of
      personal data and on the free movement of such data. Although the
      Controller makes backups of the contents hosted on its servers, it is not
      responsible for the accidental loss or deletion of data by Users.
      Similarly, it does not guarantee the total replacement of data deleted by
      Users, since said data may have been deleted and/or modified during the
      period of time elapsed since the last backup. The services provided or
      rendered through the Application, except for specific backup services, do
      not include the replacement of the contents stored in the backups made by
      the Controller of the Processing, when this loss is attributable to the
      user; in this case, a fee will be determined according to the complexity
      and volume of the recovery, always subject to the user's prior acceptance.
      The replacement of deleted data is only included in the price of the
      service when the loss of content is due to causes attributable to the
      Controller.
    </p>
    <p>
      EXERCISE OF RIGHTS. Cristian Adán informs the User that they have the
      rights of access, rectification, limitation, deletion, opposition, and
      portability, which they may exercise by making a request to the email
      address: hola@salteadorneo.dev. Likewise, the User has the right to revoke
      the initially granted consent, and to file claims with the Spanish Data
      Protection Agency (AEPD).
    </p>
    <p>
      ELECTRONIC COMMERCIAL COMMUNICATIONS. In accordance with the LSSI (Law of
      Services of the Information Society), Cristian Adán will not send
      advertising or promotional communications by email or other equivalent
      electronic means that have not been previously requested or expressly
      authorized by the recipients of them. In the case of users with whom there
      is a prior contractual, legal or service relationship, the Data Controller
      is authorized to send commercial communications referring to products or
      services of the Data Controller that are similar to those initially
      contracted with the client. If the User wants to unsubscribe from
      receiving such communications, they may do so by sending their request by
      email to: hola@salteadorneo.dev.
    </p>
  </main>
</Layout>

<style>
  main {
    font-size: 14px;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 0;
  }

  h1,
  p,
  ul,
  li {
    margin-bottom: 1.2rem;
  }
</style>
