---
import Layout from "@/layouts/Layout.astro";
import Project from "@components/Project.astro";
import Github from "@components/icons/Github.astro";
import Linkedin from "@components/icons/Linkedin.astro";
import Twitter from "@components/icons/Twitter.astro";
import Email from "@components/icons/Email.astro";

import { version } from "../../package.json";
---

<Layout>
  <header class="max-w-3xl mx-auto p-4 flex flex-wrap items-center justify-between gap-6">
    <section class="flex items-center gap-4">
      <img
      src="/cristian.png"
      alt="Cristian Adán"
      class="w-14 rounded-full object-cover"
    />
    <div>
      <h1 class="text-3xl">Cristian Adán</h1>
      <h2 class="text-sm uppercase">
        <span class="text-primary">Full Stack</span> Developer
      </h2>
    </div>
    </section>
    <section class="flex gap-4">
      <a
        href="https://github.com/salteadorneo"
        target="_blank"
        rel="noopener noreferrer"
        title="Enlace a GitHub"
        class="flex items-center gap-2 opacity-70 hover:opacity-100 transition-opacity duration-300"
      >
        <Github />
      </a>
      <a
        href="https://www.linkedin.com/in/cristianadan/"
        target="_blank"
        rel="noopener noreferrer"
        title="Enlace a LinkedIn"
        class="flex items-center gap-2 opacity-70 hover:opacity-100 transition-opacity duration-300"
      >
        <Linkedin />
      </a>
      <a
        href="https://twitter.com/salteadorneodev"
        target="_blank"
        rel="noopener noreferrer"
        title="Enlace a Twitter"
        class="flex items-center gap-2 opacity-70 hover:opacity-100 transition-opacity duration-300"
      >
        <Twitter />
      </a>
      <a
        href="mailto:hola@salteadorneo.dev"
        target="_blank"
        rel="noopener noreferrer"
        title="Contactar por email"
        class="flex items-center gap-2 opacity-70 hover:opacity-100 transition-opacity duration-300"
      >
        <Email />
      </a>
    </section>
  </header>
  <main class="max-w-3xl mx-auto p-4">
    <section class="mt-4">
      <h2 class="uppercase mb-4">
        Proyectos destacados
      </h2>
      <div class="sm:columns-2 md:columns-3 gap-4">
        <Project
          image="/images/projects/clone-ui.design_.png"
          title="Clone UI"
          description="Generación de componentes UI con prompts simples."
          tags="Next.js,Tailwind CSS,IA"
          url="https://clone-ui.design"
        />
        <Project
          title="wireframes"
          description="Web components UI Library for wireframes and prototypes."
          tags="Web Components,Open source"
          url="https://salteadorneo.github.io/wireframes/"
          github="https://github.com/salteadorneo/wireframes"
        />
        <Project
          image="/images/projects/playjs.dev_.png"
          title="PlayJS"
          description="Playground JavaScript en tu navegador."
          tags="React,Open source"
          url="https://playjs.dev"
          github="https://github.com/salteadorneo/playjs"
        />
        <Project
          image="/images/projects/infinite.cards_es_.png"
          title="infinite.cards"
          description="Tarjetas digitales profesionales."
          tags="Next.js,Tailwind CSS"
          url="https://infinite.cards"
        />
        <Project
          image="/images/projects/url.beauty_.png"
          title="URL Beauty"
          description="An other URL shortener. But, with magic."
          tags="JavaScript,Deno,Open source"
          url="https://url.beauty/"
          github="https://github.com/salteadorneo/url.beauty"
        />
        <Project
          image="/images/projects/pokemodle.salteadorneo.dev_.png"
          title="Pokemodle"
          description="Juego de adivinar el Pokémon oculto cada día."
          tags="Vue.js,Open source"
          url="https://pokemodle.online/"
          github="https://github.com/salteadorneo/pokemodle"
        />
      </div>
    </section>
  </main>
  <footer class="max-w-3xl mx-auto p-4">
    <p>
      <a href="https://github.com/salteadorneo/web" target="_blank" class="flex items-center justify-center gap-2 text-sm opacity-70 hover:opacity-100 transition-all duration-300">
        <Github size="18" /> @salteadorneo/web v.{version}
      </a>
    </p>
  </footer>
</Layout>
