---
import Layout from "@/layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Article from "@components/Article.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("blog");
posts.sort(
  (a, b) => b.data.publishedDate.getTime() - a.data.publishedDate.getTime(),
);
---

<Layout>
  <Header />
  <main>
    <h2 class="p-6 max-w-4xl mx-auto text-4xl font-medium">
      Blog
    </h2>
    <section class="w-full max-w-4xl mx-auto">
      {posts.map((post) => <Article post={post} />)}
    </section>
  </main>
  <Footer />
</Layout>
