---
import Layout from "@/layouts/Layout.astro";
import Project from "@components/Project.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
  <Header />
  <main class="p-6 max-w-4xl mx-auto">
    <section>
      <h2 class="text-4xl font-medium mb-6">Proyectos</h2>
      <div class="grid gap-6">
        <Project
          title="infinite.cards"
          description="Tarjetas digitales profesionales."
          tags="JavaScript,Next.js"
          url="https://infinite.cards/"
        />
        <Project
          title="wireframes"
          description="Web components UI Library for wireframes and prototypes."
          tags="Web Components,Open source"
          url="https://salteadorneo.github.io/wireframes/"
          github="https://github.com/salteadorneo/wireframes"
        />
        <Project
          image="/images/projects/url.beauty_.png"
          title="URL Beauty"
          description="An other URL shortener. But, with magic."
          tags="JavaScript,Deno,Open source"
          url="https://url.beauty/"
          github="https://github.com/salteadorneo/url.beauty"
        />
        <Project
          image="/images/projects/pokemodle.salteadorneo.dev_.png"
          title="Pokemodle"
          description="Juego de adivinar el Pokémon oculto cada día."
          tags="Vue.js,Open source"
          url="https://pokemodle.salteadorneo.dev/"
          github="https://github.com/salteadorneo/pokemodle"
        />
        <Project
          title="CSSX"
          description="Generate HTML from CSS."
          tags="CSS,Node.js,Open source"
          url="https://cssx.js.org/"
          github="https://github.com/salteadorneo/cssx"
        />
      </div>
      <h2 class="text-2xl font-medium my-6">Descontinuados</h2>
      <Project
        title="clone-ui.design"
        description="Genera componentes UI con simples prompts."
        tags="AI,Next.js"
      />
    </section>
  </main>
  <Footer />
</Layout>
