<span class="text-bg">ウェブ開発者</span>

<style>
    .text-bg {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);
        font-size: 300px;
        font-weight: 900;
        opacity: 0.02;
        white-space: nowrap;
        user-select: none;
        width: 100%;
        text-align: center;
        overflow: hidden;
    }
</style>
