<section class="mt-16">
  <h2 class="font-medium uppercase opacity-70">Contacto</h2>
  <form
    id="contact-form"
    action="https://formspree.io/f/mpzebone"
    method="POST"
    class="flex flex-col items-start gap-4 mt-4"
  >
    <input
      type="email"
      name="email"
      placeholder="Email"
      class="bg-transparent p-2 rounded border border-gray-500 w-full max-w-lg outline-none"
      required
    />
    <textarea
      name="message"
      placeholder="Mensaje"
      class="bg-transparent p-2 rounded border border-gray-500 w-full max-w-lg outline-none"
      required></textarea>

    <button
      class="bg-transparent p-2 rounded border border-gray-500 w-full max-w-lg outline-none hover:text-background hover:bg-gray-100"
      >Enviar</button
    >
    <p id="contact-form-status"></p>
  </form>
</section>

<script is:inline>
  var form = document.getElementById("contact-form");

  async function handleSubmit(event) {
    event.preventDefault();

    var status = document.getElementById("contact-form-status");

    var data = new FormData(event.target);
    fetch(event.target.action, {
      method: form.method,
      body: data,
      headers: {
        Accept: "application/json",
      },
    })
      .then((response) => {
        if (response.ok) {
          status.innerHTML = "¡Gracias por contactar! Te responderé pronto.";
          form.reset();
        } else {
          response.json().then((data) => {
            if (Object.hasOwn(data, "errors")) {
              status.innerHTML = data["errors"]
                .map((error) => error["message"])
                .join(", ");
            } else {
              status.innerHTML =
                "Ha ocurrido un error. Por favor, inténtelo de nuevo más tarde.";
            }
          });
        }
      })
      .catch((error) => {
        status.innerHTML =
          "Ha ocurrido un error. Por favor, inténtelo de nuevo más tarde.";
      });
  }
  form.addEventListener("submit", handleSubmit);
</script>
