---
import Email from "@/components/icons/Email.astro";
import Github from "@/components/icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
import Twitter from "./icons/Twitter.astro";

const { onlyIcons = false } = Astro.props;
---

<footer class="text-center py-8 w-full">
  <p class="flex items-center justify-center gap-6 text-sm">
    <a
      href="https://github.com/salteadorneo"
      target="_blank"
      title="Código abierto"
      class="flex items-center gap-2 opacity-70 hover:opacity-100 transition-opacity duration-300"
    >
      <span class="block w-6" style="view-transition-name: github">
        <Github />
      </span>
      {!onlyIcons && <span class="max-sm:hidden">salteadorneo</span>}
    </a>
    <a
      href="mailto:hola@salteadorneo.dev"
      title="Contactar por email"
      class="flex items-center gap-3 opacity-70 hover:opacity-100 transition-opacity duration-300"
    >
      <span class="block w-6" style="view-transition-name: linkedin">
        <Linkedin />
      </span>
      {!onlyIcons && <span class="max-sm:hidden">cristianadan</span>}
    </a>
    <a
      href="mailto:hola@salteadorneo.dev"
      title="Contactar por email"
      class="flex items-center gap-3 opacity-70 hover:opacity-100 transition-opacity duration-300"
    >
      <span class="block w-6" style="view-transition-name: twitter">
        <Twitter />
      </span>
      {!onlyIcons && <span class="max-sm:hidden">@salteadorneodev</span>}
    </a>
    <a
      href="mailto:hola@salteadorneo.dev"
      title="Contactar por email"
      class="flex items-center gap-3 opacity-70 hover:opacity-100 transition-opacity duration-300"
    >
      <span class="block w-6" style="view-transition-name: email">
        <Email />
      </span>
      {!onlyIcons && <span class="max-sm:hidden">hola@salteadorneo.dev</span>}
    </a>
  </p>
</footer>
