---
import Email from "./icons/Email.astro";
import Github from "./icons/Github.astro";
---

<footer>
    <p>
        <a href="mailto:hola@salteadorneo.dev" title="Contactar por email">
            <Email />
            hola@salteadorneo.dev</a
        >
        <a href="https://github.com/salteadorneo/test">
            <Github />
        </a>
        <span>Web desarrollada con Astro. Alojada en Vercel.</span>
    </p>
</footer>

<style>
    footer {
        padding: 30px 0;
    }

    footer p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        font-size: 14px;
    }

    footer a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
</style>
