---
import Github from "@/components/icons/Github.astro";

import { version } from "../../package.json";
---

<footer class="p-6 max-w-4xl mx-auto">
  <p class="flex items-center justify-center gap-2">
    <a
      href="https://github.com/salteadorneo/web"
      target="_blank"
      class="flex items-center justify-center gap-2 text-sm hover:text-primary transition-all duration-300"
    >
      <Github size="18" /> salteadorneo/web
    </a>
    <span class="text-sm">v.{version}</span>
  </p>
</footer>
