<footer>
    <p>
        <a href="mailto:hola@salteadorneo.dev">hola@salteadorneo.dev</a>
    </p>
</footer>

<style>
    footer {
        text-align: center;
        padding: 0 0 24px 0;
    }
</style>
