---
import Email from "./icons/Email.astro";
import Github from "./icons/Github.astro";

import { version } from "../../package.json";
---

<footer>
    <p class="flex">
        <a href="mailto:hola@salteadorneo.dev" title="Contactar por email">
            <Email />
            hola@salteadorneo.dev</a
        >
        <a
            href="https://github.com/salteadorneo/web"
            target="_blank"
            title="Código abierto"
        >
            <Github /> salteadorneo/web
        </a>
        <span>v.{version}</span>
    </p>

    <p class="tech">
        Web desarrollada con <strong>Astro</strong>
    </p>

    <style>
        footer {
            padding: 30px 0;
        }

        .flex {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
            font-size: 14px;
        }

        @media (max-width: 550px) {
            .flex {
                flex-direction: column;
            }
        }

        footer a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }

        .tech {
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 13px;
            opacity: 0.5;
            margin-top: 30px;
        }
    </style>
</footer>
