---
export interface Props {}

import EmailIcon from "../assets/icons/email.svg";

const {} = Astro.props;

// const [formData, setFormData] = useState({
//   email: "",
//   message: "",
// });

// const handleChange = (e) => {
//   setFormData({ ...formData, [e.target.name]: e.target.value });
// };

// const handleSubmit = (e) => {
//   e.preventDefault();
//   console.log(formData);
// };
---

<form>
  <!-- <label
    htmlFor="email"
    class="block mb-2 text-sm font-medium text-white dark:text-gray-300"
  >
    Email
  </label> -->
  <div class="relative mb-6">
    <div
      class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
    >
      <EmailIcon />
    </div>
    <input
      type="email"
      id="email"
      name="email"
      class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="name@domain.com"
    />
  </div>

  <textarea
    id="message"
    name="message"
    rows="6"
    class="block p-2.5 w-full text-sm bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    placeholder="Hablemos"></textarea>

  <div class="mt-6 text-center">
    <button
      class="rounded-md border border-transparent bg-green-800 px-8 py-3 text-base font-medium text-white hover:bg-green-700 md:py-4 md:px-10 md:text-lg"
    >
      Enviar
    </button>
  </div>
</form>

<style>

</style>
