---
import Nav from "./Nav.astro";
---

<Nav />

<header class="p-6 w-full max-w-4xl mx-auto flex justify-between items-center gap-4">
  <a href="/">
    <h1 class="text-2xl">Cristian Adán</h1>
    <h2 class="text-lg opacity-70">salteadorneo.dev</h2>
  </a>
  <nav>
    <a href="/proyectos" class="mr-4 hover:underline">Proyectos</a>
  </nav>
</header>
