---
import Logo from "./Logo.astro";
import Nav from "./Nav.astro";
---

<header
  class="flex items-center justify-between max-sm:flex-col gap-4 py-5 w-full"
>
  <a href="/" class="group flex items-center gap-3">
    <img
      src="/cristian.png"
      alt="Cristian Adán"
      class="inline-block w-8 rounded-full aspect-square grayscale group-hover:grayscale-0 transition-all duration-300"
      style="view-transition-name: avatar"
    />
    <span class="text-left">
      <Logo />
    </span>
  </a>
  <Nav />
</header>
