---
import Email from "./icons/Email.astro";
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
---

<header class="flex justify-between gap-4 p-6">
  <h1
    class="text-xl leading-none font-bold opacity-80 select-none hover:text-white hover:opacity-100"
  >
    <a href="/"
      >salteadorneo.<span class="text-sm font-normal uppercase">dev</span></a
    >
  </h1>
  <nav class="flex items-center gap-4 text-sm">
    <a href="/blog" class="opacity-80 hover:text-white hover:opacity-100">
      BLOG
    </a>
    <a
      href="mailto:hola@salteadorneo.dev"
      class="opacity-80 hover:text-white hover:opacity-100"
      title="Contactar por email"
    >
      <Email />
    </a>
    <a
      href="https://github.com/salteadorneo"
      target="_blank"
      class="opacity-80 hover:text-white hover:opacity-100"
      title="GitHub"
    >
      <Github />
    </a>
    <a
      href="https://www.linkedin.com/in/cristianadan/"
      target="_blank"
      class="opacity-80 hover:text-white hover:opacity-100"
      title="LinkedIn"
    >
      <Linkedin />
    </a>
  </nav>
</header>
