---
import Nav from "./Nav.astro";
---

<Nav />

<header class="p-6 w-full max-w-4xl mx-auto">
  <a href="/">
    <h1 class="text-2xl">Cristian Adán</h1>
    <h2 class="text-lg opacity-70">salteadorneo.dev</h2>
  </a>
</header>
