---
import Nav from "./Nav.astro";
---

<header
  class="absolute w-full p-6 flex flex-wrap items-center justify-between gap-6 bg-gradient-to-t from-black/90 to-black/40 pb-60"
>
  <a href="/" class="flex items-center gap-6">
    <img
      src="/cristian.png"
      alt="Cristian Adán"
      class="w-20 rounded-full object-cover"
    />
    <div>
      <h1 class="text-3xl leading-none">Cristian Adán</h1>
      <h2 class="text-lg opacity-70">Desarrollador Full Stack</h2>
    </div>
  </a>
  <Nav />
</header>
