---
import Nav from "./Nav.astro";
---

<header
  class="p-6 max-w-4xl mx-auto flex flex-wrap items-center justify-between gap-6"
>
  <div class="flex items-center gap-6">
    <a href="/">
      <img
        src="/cristian.png"
        alt="Cristian Adán"
        class="w-16 rounded-full object-cover"
      />
    </a>
    <div>
      <h1 class="text-2xl">Cristian Adán</h1>
      <h2 class="opacity-70 uppercase">Full Stack Developer</h2>
    </div>
  </div>
  <Nav />
</header>
