---
import Email from "./icons/Email.astro";
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
import Twitter from "./icons/Twitter.astro";
---

<header
  class="flex flex-wrap max-[490px]:justify-center justify-between gap-4 p-6"
>
  <p
    class="text-xl leading-none font-bold opacity-80 select-none hover:text-white hover:opacity-100"
  >
    <a href="/"
      >salteadorneo.<span class="text-sm font-normal uppercase">dev</span></a
    >
  </p>
  <nav class="flex items-center gap-4 text-sm">
    <a href="/blog/" class="opacity-80 hover:text-white hover:opacity-100">
      BLOG
    </a>
    <a href="/#contacto" class="opacity-80 hover:text-white hover:opacity-100">
      CONTACTO
    </a>
    <a
      href="mailto:hola@salteadorneo.dev"
      class="opacity-80 hover:text-white hover:opacity-100"
      title="Contactar por email"
    >
      <Email />
    </a>
    <a
      href="https://github.com/salteadorneo"
      target="_blank"
      class="opacity-80 hover:text-white hover:opacity-100"
      title="GitHub"
    >
      <Github />
    </a>
    <a
      href="https://www.linkedin.com/in/cristianadan/"
      target="_blank"
      class="opacity-80 hover:text-white hover:opacity-100"
      title="LinkedIn"
    >
      <Linkedin />
    </a>
    <a
      href="https://twitter.com/salteadorneodev"
      target="_blank"
      class="opacity-80 hover:text-white hover:opacity-100"
      title="Twitter"
    >
      <Twitter />
    </a>
  </nav>
</header>
