<section class="relative text-center px-6 grid place-content-center my-12">
    <div class="space-y-1 sm:space-y-2">
        <img
            src="/cristian.png"
            alt="Cristian Adán"
            class="inline-block w-48 rounded-full aspect-square"
        />
        <h1 class="text-4xl sm:text-6xl font-bold text-white">Cristian Adán</h1>
        <h2 class="text-lg sm:text-3xl font-medium">
            Desarrollador <strong class="text-primary">Full Stack</strong>
        </h2>
    </div>
</section>
