<section
    class="relative text-center text-white px-6 grid place-content-center my-12"
>
    <div class="space-y-1 sm:space-y-2">
        <img
            src="/cristian.png"
            alt="Cristian Adán"
            class="inline-block w-48 rounded-full aspect-square"
        />
        <h2 class="text-4xl sm:text-6xl font-bold">Cristian Adán</h2>
        <p class="text-lg sm:text-3xl font-medium">
            Desarrollador <strong class="text-primary">Full Stack</strong>
        </p>
    </div>
</section>

<style>
    .title {
        animation: fadein 1s ease;
        animation-fill-mode: forwards;
    }
</style>
