---
import { Rcon } from "rcon-client";

const RCON_HOST = import.meta.env.RCON_HOST;
const RCON_PORT = import.meta.env.RCON_PORT;
const RCON_PASSWORD = import.meta.env.RCON_PASSWORD;

let serverOnline = false;
try {
  const rcon = await Rcon.connect({
    host: RCON_HOST,
    port: parseInt(RCON_PORT || '25575'),
    password: RCON_PASSWORD || ''
  });
  await rcon.end();
  serverOnline = true;
} catch (error) {
  serverOnline = false;  
}
---

{!!RCON_HOST && (
  <div class="flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        class={`w-5 h-5 ${serverOnline ? 'text-green-500' : 'text-red-500'}`}
      >
        <rect x="2" y="14" width="2" height="4" fill="currentColor" />
        <rect x="6" y="11" width="2" height="7" fill="currentColor" />
        <rect x="10" y="8" width="2" height="10" fill="currentColor" />
        <rect x="14" y="5" width="2" height="13" fill="currentColor" />
        <rect x="18" y="2" width="2" height="16" fill="currentColor" />
      </svg>
      <p>{RCON_HOST}</p>
  </div>
)}