---
import Github from "@components/icons/Github.astro";
import Linkedin from "@components/icons/Linkedin.astro";
import Twitter from "@components/icons/Twitter.astro";
import Email from "@components/icons/Email.astro";
---

<section class="flex items-center gap-6">
  <a
    href="/"
    class="text-lg opacity-70 hover:opacity-100 transition-opacity duration-300"
  >
    Proyectos
  </a>
  <a
    href="/blog"
    class="text-lg opacity-70 hover:opacity-100 transition-opacity duration-300"
  >
    Blog
  </a>
  <div class="flex items-center gap-4">
    <a
      href="https://github.com/salteadorneo"
      target="_blank"
      rel="noopener noreferrer"
      title="Enlace a GitHub"
      class="opacity-70 hover:opacity-100 transition-opacity duration-300"
    >
      <Github size="20" />
    </a>
    <a
      href="https://www.linkedin.com/in/cristianadan/"
      target="_blank"
      rel="noopener noreferrer"
      title="Enlace a LinkedIn"
      class="opacity-70 hover:opacity-100 transition-opacity duration-300"
    >
      <Linkedin size="20" />
    </a>
    <a
      href="https://twitter.com/salteadorneodev"
      target="_blank"
      rel="noopener noreferrer"
      title="Enlace a Twitter"
      class="opacity-70 hover:opacity-100 transition-opacity duration-300"
    >
      <Twitter size="20" />
    </a>
    <a
      href="mailto:cristian@salteadorneo.dev"
      target="_blank"
      rel="noopener noreferrer"
      title="Contactar por email"
      class="opacity-70 hover:opacity-100 transition-opacity duration-300"
    >
      <Email size="20" />
    </a>
  </div>
</section>
