<nav class="flex items-center justify-center gap-4 text-sm">
  <a
    href="/proyectos/"
    class="opacity-70 hover:text-white hover:opacity-100 transition-all duration-300"
  >
    PROYECTOS
  </a>
  <a
    href="/blog/"
    class="opacity-70 hover:text-white hover:opacity-100 transition-all duration-300"
  >
    BLOG
  </a>
  <a
    href="/contacto/"
    class="opacity-70 hover:text-white hover:opacity-100 transition-all duration-300"
  >
    CONTACTO
  </a>
</nav>
