---
import Github from "./icons/Github.astro";
const { title, url, github, description } = Astro.props;

const parseDescription = (description: string) => {
  // replace text in ** with <strong>
  return description.replace(/\*\*(.*?)\*\*/g, "<strong>$1</strong>");
};
---

<article>
  <div class={`relative space-y-1`}>
    <h4 class="text-xl font-bold flex items-center gap-2">
      {title}
      <a
        href={url}
        target="_blank"
        class="text-white/70 leading-none hover:text-white"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 4H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-4m-8-2 8-8m0 0v5m0-5h-5"
          ></path>
        </svg>
      </a>
      {
        github && (
          <a
            href={github}
            target="_blank"
            class="w-5 text-white/70 leading-none hover:text-white"
          >
            <Github />
          </a>
        )
      }
    </h4>
    {
      description && (
        <p class="text-white/70" set:html={parseDescription(description)} />
      )
    }
  </div>
</article>
