---
const { duration, title, centre, description } = Astro.props;

const parseDescription = (description: string) => {
    // replace text in ** with <strong>
    return description.replace(/\*\*(.*?)\*\*/g, "<strong>$1</strong>");
};
---

<article>
    <span class="back">{duration}</span>
    <h3 class="title">{title}</h3>
    <p class="centre">{centre}</p>
    {description && <p set:html={parseDescription(description)} />}
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto 30px;
    }

    .back {
        font-size: 70px;
        line-height: 70px;
        font-weight: 900;
        white-space: nowrap;
        opacity: 0.2;
    }

    .title {
        font-size: 2em;
        line-height: 1em;
        font-weight: 900;
        margin: -30px 0 0;
    }

    p {
        margin: 10px 0 0;
    }

    .centre {
        font-size: 1.2em;
        line-height: 1em;
        font-weight: 100;
    }
</style>
