---
import Point from "./Point.astro";

import projects from "../data/projects.json";
---

<section class="projects">
  <h3 class="title">Proyectos</h3>
  {projects.map((project, idx) => <Point key={idx} {...project} />)}
</section>

<style>
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    max-width: 900px;
    padding: 0 24px;
    margin: 50px auto;
  }

  .title {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;
    color: #ffffff80;
  }

  @media (max-width: 550px) {
    .projects {
      margin: 30px auto;
    }

    .title {
      font-size: 2rem;
    }
  }
</style>
