---
import Point from "./Point.astro";
---

<section id="proyectos">
  <h3 class="text-4xl font-light opacity-40 text-center">Proyectos</h3>
  <div class="grid sm:grid-cols-3 gap-8 my-8">
    <Point
      duration="Vue"
      title="Pokemodle"
      subtitle="pokemodle.online"
      url="https://pokemodle.online"
      description="Un juego de adivinar el Pokémon oculto cada día.<br><br>**Código abierto**. Desarollado con **Vue.js**. Actualmente trabajando en la **APP** para **Android**."
    />
    <Point
      duration="React"
      title="PlayJS"
      subtitle="playjs.dev"
      url="https://playjs.dev"
      description="Un playground web de JavaScript.<br><br>Desarrollado con **React**."
    />
    <Point
      duration="React"
      title="Hackathon"
      subtitle="infojobs-map.vercel.app"
      url="https://infojobs-map.vercel.app/"
      description="Finalista con el **tercer puesto** en la **Hackathon de InfoJobs**.<br><br>Desarrollado con **React**."
    />
  </div>
  <h3 class="text-4xl font-light opacity-40 text-center">Webs</h3>
  <div class="grid sm:grid-cols-2 gap-8 my-8">
    <Point
      duration="React"
      title="Menyled"
      subtitle="menyled.com"
      url="https://www.menyled.com"
      description="Web corporativa con catálogo productos actualizada en tiempo real. Desarrollado con **Vite** y **React**."
    />
    <Point
      duration="Vite"
      title="Porto Alegría"
      subtitle="portoalegria.org"
      url="https://portoalegria.org"
      description="Potente batucada de Madrid. Desarrollado con **Vite** y **React**."
    />
    <Point
      duration="JS"
      title="CTRL+i"
      subtitle="ctrl-i.es"
      url="https://ctrl-i.es"
      description="El escaparate perfecto para esta tienda física de Guadalajara. Desarrollado con **JavaScript**."
    />
    <Point
      duration="Vue"
      title="Julia Bescos"
      subtitle="juliabescos.com"
      url="https://juliabescos.com"
      description="Portfolio de la diseñadora gráfica que cuida todos los detalles. Desarrollado con **Vue.js**."
    />
  </div>
  <h3 class="text-4xl font-light opacity-40 text-center">
    Aplicaciones móviles
  </h3>
  <div class="grid md:grid-cols-3 gap-8 my-8">
    <Point
      duration="App"
      title="Calculadora de viaje"
      subtitle="Google Play"
      url="https://play.google.com/store/apps/details?id=dev.salteadorneo.viaje"
      description="Aplicación en **React** para calcular el coste de un viaje en coche."
    />
    <Point
      duration="App"
      title="Precio Gasolina"
      subtitle="Google Play"
      url="https://play.google.com/store/apps/details?id=dev.salteadorneo.gasolina"
      description="Aplicación en **React** para consultar el precio de la gasolina en España."
    />
    <Point
      duration="App"
      title="Calculadora Win 98"
      subtitle="Google Play"
      url="https://play.google.com/store/apps/details?id=dev.salteadorneo.calculadora"
      description="Aplicación en **React** de la calculadora con estética de Windows 98."
    />
  </div>
  <h3 class="text-4xl font-light opacity-40 text-center">Otros proyectos</h3>
  <div class="grid md:grid-cols-2 gap-8 my-8">
    <Point
      duration="Astro"
      title="Instrumentos de batucada"
      subtitle="instrumentos-batucada.com"
      url="https://instrumentos-batucada.com"
      description="Información sobre los instrumentos de batucada."
    />
    <Point
      duration="React"
      title="Comics y mangas"
      subtitle="comicsymangas.com"
      url="https://comicsymangas.com"
      description="Catálogo de novedades sobre comics, novelas gráficas y mangas."
    />
  </div>
</section>
