---
import Point from "./Point.astro";
---

<section id="proyectos" class="mt-24">
  <h3 class="text-4xl font-light opacity-40 text-center">Proyectos</h3>
  <div class="grid sm:grid-cols-1 gap-8 my-8">
    <Point
      duration="JavaScript"
      title="游릳 PlayJS"
      subtitle="playjs.dev"
      url="https://playjs.dev"
      description="Playground JavaScript en tu navegador."
    />
  </div>
  <div class="grid sm:grid-cols-2 gap-8 my-8">
    <Point
      duration="UI/UX"
      title="Clone UI"
      subtitle="clone-ui.design"
      url="https://clone-ui.design"
      description="Sistemas de dise침o inspirados en los dise침os m치s famosos. Desarrollado con **React** y **TailwindCSS**."
    />
    <Point
      duration="Juego"
      title="Pokemodle"
      subtitle="pokemodle.online"
      url="https://pokemodle.online"
      description="Un juego de adivinar el Pok칠mon oculto cada d칤a. **C칩digo abierto**. Desarollado con **Vue.js**."
    />
  </div>
  <h3 class="text-4xl font-light opacity-40 text-center mt-24">Webs</h3>
  <div class="grid sm:grid-cols-2 gap-8 my-8">
    <Point
      duration="Portfolio"
      title="Julia Bescos"
      subtitle="juliabescos.com"
      url="https://juliabescos.com"
      description="Portfolio de la dise침adora gr치fica que cuida todos los detalles. Desarrollado con **Vue.js**."
    />
    <Point
      duration="Web"
      title="Menyled"
      subtitle="menyled.com"
      url="https://www.menyled.com"
      description="Web corporativa con cat치logo productos actualizada en tiempo real. Desarrollado con **Vite** y **React**."
    />
    <Point
      title="Porto Alegr칤a"
      subtitle="portoalegria.org"
      url="https://portoalegria.org"
      description="Potente batucada de Madrid. Desarrollado con **Vite** y **React**."
    />
    <Point
      title="CTRL+i"
      subtitle="ctrl-i.es"
      url="https://ctrl-i.es"
      description="El escaparate perfecto para esta tienda f칤sica de Guadalajara. Desarrollado con **JavaScript**."
    />
  </div>
  <h3 class="text-4xl font-light opacity-40 text-center mt-24">
    Aplicaciones m칩viles
  </h3>
  <div class="grid md:grid-cols-3 gap-8 my-8">
    <Point
      duration="App"
      title="Calculadora de viaje"
      subtitle="Google Play"
      url="https://play.google.com/store/apps/details?id=dev.salteadorneo.viaje"
      description="Aplicaci칩n en **React** para calcular el coste de un viaje en coche."
    />
    <Point
      duration="App"
      title="Precio Gasolina"
      subtitle="Google Play"
      url="https://play.google.com/store/apps/details?id=dev.salteadorneo.gasolina"
      description="Aplicaci칩n en **React** para consultar el precio de la gasolina en Espa침a."
    />
    <Point
      duration="App"
      title="Calculadora Win 98"
      subtitle="Google Play"
      url="https://play.google.com/store/apps/details?id=dev.salteadorneo.calculadora"
      description="Aplicaci칩n en **React** de la calculadora con est칠tica de Windows 98."
    />
  </div>
  <h3 class="text-4xl font-light opacity-40 text-center mt-24">
    Otros proyectos
  </h3>
  <div class="grid md:grid-cols-2 gap-8 my-8">
    <Point
      title="Instrumentos de batucada"
      subtitle="instrumentos-batucada.com"
      url="https://instrumentos-batucada.com"
      description="Informaci칩n sobre los instrumentos de batucada."
    />
    <Point
      title="Comics y mangas"
      subtitle="comicsymangas.com"
      url="https://comicsymangas.com"
      description="Cat치logo de novedades sobre comics, novelas gr치ficas y mangas."
    />
  </div>
</section>
