---
import Point from "./Point.astro";
---

<section id="proyectos" class="mt-24">
  <h3 class="text-4xl font-light opacity-40 text-center">Proyectos</h3>
  <div class="grid sm:grid-cols-1 gap-8 my-8">
    <Point
      duration="PlayJS"
      title="PlayJS"
      subtitle="playjs.dev"
      url="https://playjs.dev"
      description="Un playground web de JavaScript. Desarrollado con **React**."
    />
  </div>
  <div class="grid sm:grid-cols-2 gap-8 my-8">
    <Point
      duration="UI/UX"
      title="Clone UI"
      subtitle="clone-ui.design"
      url="https://clone-ui.design"
      description="Sistemas de diseño inspirados en los diseños más famosos. Desarrollado con **React** y **Tailwind CSS**."
    />
    <Point
      duration="Juego"
      title="Pokemodle"
      subtitle="pokemodle.online"
      url="https://pokemodle.online"
      description="Un juego de adivinar el Pokémon oculto cada día. **Código abierto**. Desarollado con **Vue.js**."
    />
  </div>
  <h3 class="text-4xl font-light opacity-40 text-center mt-24">Webs</h3>
  <div class="grid sm:grid-cols-2 gap-8 my-8">
    <Point
      duration="Portfolio"
      title="Julia Bescos"
      subtitle="juliabescos.com"
      url="https://juliabescos.com"
      description="Portfolio de la diseñadora gráfica que cuida todos los detalles. Desarrollado con **Vue.js**."
    />
    <Point
      duration="Web"
      title="Menyled"
      subtitle="menyled.com"
      url="https://www.menyled.com"
      description="Web corporativa con catálogo productos actualizada en tiempo real. Desarrollado con **Vite** y **React**."
    />
    <Point
      title="Porto Alegría"
      subtitle="portoalegria.org"
      url="https://portoalegria.org"
      description="Potente batucada de Madrid. Desarrollado con **Vite** y **React**."
    />
    <Point
      title="CTRL+i"
      subtitle="ctrl-i.es"
      url="https://ctrl-i.es"
      description="El escaparate perfecto para esta tienda física de Guadalajara. Desarrollado con **JavaScript**."
    />
  </div>
  <h3 class="text-4xl font-light opacity-40 text-center mt-24">
    Aplicaciones móviles
  </h3>
  <div class="grid md:grid-cols-3 gap-8 my-8">
    <Point
      duration="App"
      title="Calculadora de viaje"
      subtitle="Google Play"
      url="https://play.google.com/store/apps/details?id=dev.salteadorneo.viaje"
      description="Aplicación en **React** para calcular el coste de un viaje en coche."
    />
    <Point
      duration="App"
      title="Precio Gasolina"
      subtitle="Google Play"
      url="https://play.google.com/store/apps/details?id=dev.salteadorneo.gasolina"
      description="Aplicación en **React** para consultar el precio de la gasolina en España."
    />
    <Point
      duration="App"
      title="Calculadora Win 98"
      subtitle="Google Play"
      url="https://play.google.com/store/apps/details?id=dev.salteadorneo.calculadora"
      description="Aplicación en **React** de la calculadora con estética de Windows 98."
    />
  </div>
  <h3 class="text-4xl font-light opacity-40 text-center mt-24">
    Otros proyectos
  </h3>
  <div class="grid md:grid-cols-2 gap-8 my-8">
    <Point
      title="Instrumentos de batucada"
      subtitle="instrumentos-batucada.com"
      url="https://instrumentos-batucada.com"
      description="Información sobre los instrumentos de batucada."
    />
    <Point
      title="Comics y mangas"
      subtitle="comicsymangas.com"
      url="https://comicsymangas.com"
      description="Catálogo de novedades sobre comics, novelas gráficas y mangas."
    />
  </div>
</section>
