---
import { slugify } from "@/utils.js";

const { tag } = Astro.props;
---

<a
  href={`/blog/tag/${slugify(tag)}/`}
  class="text-primary hover:text-black text-nowrap transition-all"
>
  #{tag}
</a>
