---
import { slugify } from "@/utils.js";

const { tag } = Astro.props;
---

<a
  href={`/blog/tag/${slugify(tag)}/`}
  class="inline-flex items-center rounded-full border border-border bg-secondary px-3 py-1 text-base text-muted-foreground text-nowrap transition-colors hover:border-muted hover:text-foreground"
>
  #{tag}
</a>
