---
import { slugify } from "@/utils.js";

const { tag = "" } = Astro.props;
---

<a
  href={`/blog/tag/${slugify(tag)}/`}
  class="text-sm bg-white/5 rounded px-2 py-0.5 text-white/60 text-nowrap hover:text-white hover:bg-primary"
>
  {tag}
</a>
