---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";

const { title, description, ogimage } = Astro.props;
---

<Layout title={title} description={description} ogimage={ogimage}>
  <Header />
  <main class="max-w-2xl mx-auto px-4">
    <section
      class="relative text-center text-white px-6 grid place-content-center"
    >
      <div class="space-y-1 sm:space-y-2 mb-16 text-text">
        <a href="/blog/" class="hover:text-white">
          <span class="text-xl leading-none font-bold">Blog</span>
          <span class="text-sm">/ Programación y tecnología</span>
        </a>
      </div>
    </section>
    <slot />
  </main>
  <Footer />
</Layout>
