---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content="Desarrollador fullstack" />
		<script data-no-cookie async src="https://cdn.splitbee.io/sb.js"
		></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-text: #8d8d8d;
		--color-primary: #30a834;
		--background: #121619;
	}
	html {
		font-family: system-ui, sans-serif;
	}
	body {
		padding: 0;
		margin: 0;
		color: var(--color-text);
		background: var(--background);
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
	}
	a {
		color: var(--color-text);
	}
	.color-primary {
		color: var(--color-primary);
	}
	::-webkit-scrollbar {
		width: 8px;
	}
	::-webkit-scrollbar-track {
		background: none;
	}
	::-webkit-scrollbar-thumb {
		background: var(--color-text);
	}
	::-webkit-scrollbar-thumb:hover {
		background: var(--color-primary);
	}
</style>
