---
import Background from "../components/Background.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    <meta name="description" content="Desarrollador full stack" />

    <script data-no-cookie async src="https://cdn.splitbee.io/sb.js"></script>
  </head>
  <body>
    <Background />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-text: #e1e1e1;
    --color-primary: #30a834;
    --background: #121619;
  }

  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    color: var(--color-text);
    background: var(--background);
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-text);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeup {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
