.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  place-items: center;
  place-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  height: 400px;
}

.card:before, .card:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #E1E4D4;
  transform: rotate(3deg);
  box-shadow: 0 0 25px black;
  opacity: .1;
  transition: all .5s;
}

.card:before {
  transform: rotate(5deg);
}

.card:hover:before, .card:hover:after {
  opacity: .2;
  transform: rotate(0deg);
}

.card * {
  z-index: 1;
}

.icons {
  margin: 30px 0 0;
}

.icons svg {
  width: 30px;
  height: 30px;
  margin: 0 8px;
  opacity: 0;
}

.icons svg path {
  fill: #E1E4D4;
}

.icons a:nth-of-type(1) svg {
  animation: fadeIn 1s ease-in forwards;
}

.icons a:nth-of-type(2) svg {
  animation: fadeIn 2s ease-in forwards;
}

.icons a:nth-of-type(3) svg {
  animation: fadeIn 3s ease-in forwards;
}

.icons a:hover svg {
  transform: scale(1.1);
  transition: all .5s;
}

.title {
  font-size: 1.4em;
}

.subtitle {
  font-size: .8em;
  font-weight: normal;
  color: #E1E4D455;
}

.email {
  margin: 20px 0 0;
  font-size: .8em;
}

.email:hover {
  transition: all .5s;
  text-decoration: underline;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}